body{
    background-color: rgb(78, 104, 72);
    margin:0;
    padding: 0;
}
#header{
    background-color: rgb(148, 168, 115);
    border: 1px solid rgb(148, 168, 115);
    display: flex;
    width: 810px;
    
    }
.head{
flex: 1;
text-align: right;
margin-right: 15px;
font-family: Arial, Helvetica, sans-serif;
}
#wrap{
    margin: 3em 13.3%;
    background-color: rgb(108, 136, 108);
    border: 2px solid #333;
    background-position: right;
    width: 900px;
}
#nav{
    margin-top: -15px;
    background-color: rgb(45, 110, 45);
    border-bottom: 2.5px dotted #ffffff;
    width: 900px;

    }
.navigate{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 3px;
    padding-right:220px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    }

#sidebar{
    float: right;
    width: 170px;
    margin-right: 90px;
    background-color: rgb(148, 168, 115);
    height: 500px;
}
h2{
    margin-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    margin-left: 7px;
}
.con{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: sans-serif;
    font-size: 11pt;
}
.content{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    
}
#nav a{
    text-decoration: none;
}
#footer {
    clear:both;
    background:rgb(45, 110, 45);
    padding: 0.2em;
    text-align: center;
    border-top: 1px solid #333;
}
    


